@model PDFDemo.Models.Zoe
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zoe</title>
</head>
<body>
    <div> @Model.Name </div>
    <div>关注 <b>@Model.WeiXin</b>  一块学呀，来来来</div>
</body>
</html>
